
ol{
    background-color: rgba(250, 133, 133, 0.568);
    list-style-type: none;
    padding: 2px 10px 10px 10px;
    color: rgb(200, 200, 255);
    counter-reset: number;
}
li{
    background-color: rgba(165, 42, 42, 0.658);
    margin-top: 10px;
    border-radius: px;
}
span{
    background-color: rgba(165, 42, 42, 0.856);
    margin-left: 5px;
    border-radius: px;
}
li::before{
    margin-left: 4px;
    content: counter(number);
    counter-increment: number
}
#box {
    width:600px;
    justify-content: center;
    align-items:center;
  }
